<%= article_cover @article.cover.url %> <!--Es un aplication helper -->
<h1><%= @article.title %></h1>
<% unless @article.user.nil? %>


Escrito por<%= @article.user.email %>

<%end%>
Visitas <%= @article.visits_count %>
<div>

<%= @article.body %>

<%= link_to "Editar", edit_article_path(@article) %>

<!--
<div class="field">
	<%= image_tag @article.cover.url(:thumb)%>
</div>
-->
<div class="field">
<% @article.categories.each do |category| %>
	<h3><%= link_to category.name, category, style:"color:#{category.color}" %></h3>

<%end%>
</div>
<div class="field">
<h3>Comentarios</h3>
<%= render "comments/form" %>
<ul id="comments-box">
	<% @article.comments.each do |comment| %>
	<li>
		<%= image_tag(comment.user.avatar, height: '32', width: '32') %>
		<%= comment.body %> - <%= comment.user.email %> - <%= time_ago_in_words(comment.created_at) %> ago 
	</li>

	<%end%>
</ul>
</div>

<ul>


	<%= @article.to_json %>

</ul>

</div>