
<% @articles.each do |article| %>
	<h1><%= link_to article.title, article%> ID:<%= article.id %></h1>
	<div>
		<%= article.body %> - <%= link_to "Elimminar",article, method: :delete %>
		<% if article.may_publish? %>
		- <%= link_to "Publicar","/articles/#{article.id}/publish", method: :put %> 
		<%end%>
		-
		<%= form_tag tojson_article_path, :method=>'put' do%>
  		<%= hidden_field_tag :id, article.id %>
 		 <%= submit_tag 'New campus' %>
		<% end %>
	</div>
<%end%>