
<% @articles.each do |article| %>
	<h1><%= link_to article.title, article%> ID:<%= article.id %></h1>
	<div>
		<%= article.body %> - <%= link_to "Elimminar",article, method: :delete %>
		<% if article.may_publish? %>
		- <%= link_to "Publicar","/articles/#{article.id}/publish", method: :put %>
		<%end%>
	</div>
<%end%>